%blockquote{style:"direction: rtl;"}= flash[:alert]

- if @article.present?
  %p{style: "direction: rtl; font-size: 40px; text-align: center; padding-top: 80px;"} 
    = image_tag "egypt_coat_128.png"
  %p{style: "direction: rtl; font-size: 40px; text-align: center; padding-top: 30px; line-height: 40px;"} 
    %span.muted{style: "vertical-align: bottom;"}
      مادة #{tn(@article.number)}،
    = @article.body

%p{style: "text-align: center; padding-top: 30px"}
  - unless @logged_in_fb
    = link_to Koala::Facebook::OAuth.new.url_for_oauth_code(:callback => oauth_redirect_url), class: "btn btn-primary" do
      %big
        شارك على فيسبوك

  = link_to root_path, class: "btn btn-success" do
    %big
      مادة أخرى

  = link_to naqeshny_url(@article.number), class: "btn btn-inverse btn-naqeshny", target: "_blank" do
    %i.icon-naqeshny
    %big
      ناقشني