!!!
%html{ lang: "en" }
  %head
    %title Dostor Status
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{ :"data-toggle" => "collapse", :"data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Dostor Status", articles_path, class: "brand"
          .nav-collapse.collapse
            %ul.nav
              %li= link_to "Add Article", new_article_path
              %li= link_to "User Statistics", users_path
              %li= link_to "Logout", destroy_admin_session_path, method: :delete
              
    .container
      = yield
